    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Dashboard</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Blank Page</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <div class="row margin-left-10 margin-right-unset">
      <div class="col-lg-3 col-6 outline-none">
        <!-- small box -->
        <div class="small-box bg-info outline-none">
          <div class="inner">
            <h3>...</h3>

            <p>Vendas realizadas hoje: {{dataAtual}}</p>
          </div>
          <div class="icon">
            <i class="ion ion-bag"></i>
          </div>
          <a href="#" class="small-box-footer">Visualizar Tudo <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div [routerLink]="['/users']" class="col-lg-3 col-6 outline-none">
        <!-- small box -->
        <div class="small-box bg-warning outline-none">
          <div class="inner">
            <h3>{{totalUsers}}</h3>

            <p>Usuários Cadastrados</p>
          </div>
          <div class="icon">
            <i class="ion ion-person-add"></i>
          </div>
          <a [routerLink]="['/users']" class="small-box-footer">Visualizar tudo <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
    </div>